<!doctype html>
<head>
<title>点评摘要</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
</head>

<body>
<div class="container">
    <div class="jumbotron col-md-10">
        <p>{{ val.shopname }}的点评</p>
    </div>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped">
            <thead>
              <tr>
                <th>ReviewId</th>
                <th>ReviewTime</th>
                <th>Review</th>
                <th>Noun</th>
                <th>Adj</th>
                <th>NounTag1</th>
                <th>NounTag2</th>
                <th>AdjTag</th>
                <th>Sentiment</th>
              </tr>
            </thead>
            <tbody>
              {% for item in val.review %}
              {% if item[3] != 'NULL' %}
              <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>
                    {% if item[5] != 'NULL' %}
                    <h4><span class="label label-primary">{{ item[5] }}</span></h4>
                    {% endif %}
                </td>
                <td>
                    {% if item[6] != 'NULL' %}
                    <h4><span class="label label-primary">{{ item[6] }}</span></h4>
                    {% endif %}
                </td>
                <td>
                    {% if item[7] != 'NULL' %}
                    <h4><span class="label label-primary">{{ item[7] }}</span></h4>
                    {% endif %}
                </td>
                <td>
                    {% if item[8] != 'NULL' %}
                    <h4><span class="label label-primary">{{ item[8] }}</span></h4>
                    {% endif %}
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
            </table>
        </div>
    </div>


    <div><nav>
      <ul class="pagination">
        {% for item in val.pno_list %}
            {% if item == '1' %}
                    <li><a href="#"> {{ item }} ... </a></li>
            {% endif %}
            {% if item != '1' %}
                <li><a href="#">{{ item }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
    </nav></div>

</div>
</body>
