<!doctype html>
<head>
<title>点评摘要</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
</head>

<body>
<div class="container">
    <div class="jumbotron col-md-10">
        <p>{{ shopname }}的点评</p>
        <p> <p>点评标签</p>
        <a href="/{{shopid}}"><font size="3"><span class="label label-danger">全部</span></font></a>        
        {% for x in abstract.records %}
        <a href="/{{shopid}}/tag/{{x.tag}}">
            {% if x.sent == '1' %}
            <font size="3"><span class="label label-info">{{ x.tag }} ({{x.hit}})</span></font>
            {% endif %}
            {% if x.sent == '-1' %}
            <font size="3"><span class="label label-default">{{ x.tag }} ({{x.hit}})</span></font>
            {% endif %}
        </a>
        {% endfor %}
        </p>
    </div>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped">
            <thead>
              <tr>
                <th>ReviewId</th>
                <th>ReviewTime</th>
                <th>Score1</th>
                <th>Score2</th>
                <th>Score3</th>
                <th>Review</th>
                <th width="200">Tag</th>
              </tr>
            </thead>
            <tbody>
              {% for item in val.review %}
              <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }}</td>
                <td>{{ item[6] }}</td>
                <td>{{ item[2]|safe }}</td>
                <td>
                    {% for x in item[3] %}
                    <span class="label label-primary" float="right">{{ x }}</span>
                    {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
        </div>
    </div>


    <div><nav>
      <ul class="pagination">
        {% for item in val.pno_list %}
            {% if tag == '' %}
                <li><a href="/{{ val.shopid }}/{{ item }}">{{ item }}</a></li>
            {% endif %}
            {% if tag != '' %}
                <li><a href="/{{ val.shopid }}/{{ item }}/tag/{{tag}}">{{ item }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
    </nav></div>

</div>
</body>
